[user]
	email = dzung.nguyen@wolt.com
  name = Dzung Nguyen
	signingkey = 5F426E8A11F8E414
[core]
	editor = nvim
	pager = less -FRX
	untrackedcache = true
	fsmonitor = true
[init]
  defaultBranch = main
[commit]
  gpgsign = true
  verbose = true
[tag]
  gpgsign = true

# Conditional config
# Useful commands
# git blame -L
# git blame -w
# git blame -C -C -C
# git log -L
# git log -S
# git log --graph --oneline
# git reflog
# git diff --word-diff
# git column --mode=column --padding=5
# git commit -S
# git cat-file -p HEAD
# git maintenance start
# git clone --filter=blob:none
# git clone --filter=tree:0
# git sparse-checkout
# git ls-remote

# git switch / git switch -c
# git restore
# git commit --fixup
# git rebase --autosquash
# git rebase --update-refs
# git worktree

[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
  pushf = push --force-with-lease
  stash = stash --all
[fetch]
  writeCommitGraph = true
[push]
  autoSetupRemote = true
